<%- include('header') %>
<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Password Category Name</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if (records.length > 0) { %>
                    <% records.forEach(function(row) { %>
                        <tr>
                            <td><%= row.addpasscateg %></td>
                            <td><%= row.addprojname %></td>
                            <td>
                                <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal<%= row._id %>"><i class="fa fa-eye"></i></button>
                                <a class="btn btn-primary btn-xs" href="/password-detail/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-xs" href="/password-detail/delete/<%= row._id %>" onclick="return confirm('Are you sure you want to delete this item?')"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal<%= row._id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel<%= row._id %>" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel<%= row._id %>"><%= row.addprojname %></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <%- row.addpassdetail %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="3" class="text-center">No records found</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/viewallpassword/1">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/viewallpassword/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="/viewallpassword/<%= pages %>">Last</a></li>
            <% } %>
        </ul>
    <% } %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

